configuration {
  font: "FiraCode Nerd Font 16";
  modi: [window, drun, ssh];
  combi-modi: [window, drun, ssh];
  show-icons: true;
  icon-theme: "Papirus";
  terminal: "alacritty";
}

@theme "solarized"

window {
  border: 5;
}
